<% provide(:title, "Contact")%>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title)%> | Sample App</title>
  </head>
  <body>
    <h1>Contact Page</h1>
    <p>Welcome to the Contact Page</p>
    <p><a href="http://localhost:3000/static_pages/home">Home</a></p>
  </body>
</html>
