<% provide(:title, "Help")%>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title)%> | Sample App</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>Welcome to the Help Page</p>
  </body>
</html>
